# Minecraft Server GitIgnore
# Logs
logs/
*.log.gz
debug/

# Server files
cache/
libraries/
versions/
bundler/
*.jar

# World files (uncomment to keep them, but usually they are big)
# world/
# world_nether/
# world_the_end/

# Config files (keep them for test server)
# server.properties
# bukkit.yml
# spigot.yml
# paper-global.yml
# paper-world-defaults.yml

# Plugins
plugins/*
!plugins/Skript/
plugins/Skript/*
!plugins/Skript/scripts/
plugins/Skript/scripts/*

# User data
usercache.json
whitelist.json
ops.json
banned-ips.json
banned-players.json
# eula.txt (un-ignored to make it easy for the user)
!eula.txt

